body {
	margin-bottom: 0 !important;
}

.newsfeed__more-button-wrapper {
    text-align: center;
	margin-bottom: 50px;
}

.newsfeed__more-button {
    box-shadow: inset 0 0 0 1px #ced4da;
    color: #666;
    padding: .7em 1em;
    margin: 0 .3em;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.newsfeed__more-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #4d3bfe;
    -webkit-transform: scaleY(0) translateZ(0);
    transform: scaleY(0) translateZ(0);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: -1;
}

.newsfeed__more-button:hover {
    color: #fff;
}

.newsfeed__more-button:hover::before {
    -webkit-transform: scaleY(1) translateZ(0);
    transform: scaleY(1) translateZ(0);
}

.actual-articles {
    margin-bottom: 50px;
}

.actual-articles__pagination {
    display: flex;
    justify-content: center;
}

.actual-articles__pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 3px;
}


/* Комментарии */

.comment-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comment-item__avatar {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    height: 80px;
}

.comment-item__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.comment-item__wrapper {
    width: calc(100% - 80px);
    padding-left: 15px;
}

.comment-item__info {
    padding-bottom: 5px;
    font-size: 14px;
}

.comment-item__author {
    font-weight: 600;
}

.comment-item__content {
    display: block;
    text-decoration: none;
}

.comment-item__content:hover, .comment-item__content:focus {
    color: inherit;
    text-decoration: none;
}

.comment-item__content p {
    margin-bottom: 0;
}

.last-comments__slider {
    display: flex;
    align-items: center;
}

.last-comments__button-prev, .last-comments__button-next {
    position: static;
    margin-top: 0;
}

.last-comments__slider .swiper-container {
    width: 90%;
}

/* Add to favorite button */

.favorite-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.favorite-button__icon {
    width: 30px;
}

.favorite-button__icon > div {
    width: 100%;
}

.favorite-button__icon-like {
    display: none;
}

.favorite-button--liked .favorite-button__icon-like {
    display: block;
}

.favorite-button--liked .favorite-button__icon-dislike {
    display: none;
}

.favorite-button:hover .favorite-button__icon-like {
    display: block;
}

.favorite-button:hover .favorite-button__icon-dislike {
    display: none;
}

.favorite-button--liked:hover .favorite-button__icon-like {
    display: none;
}

.favorite-button--liked:hover .favorite-button__icon-dislike {
    display: block;
}

.favorite-button svg {
    fill: #4d3bfe;
    width: 100%;
}

.favorite-button__text {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #666;
    font-weight: 400;
}

.favorite-button__text span {
    font-weight: 600;
    color: rgb(17, 17, 17);
}

.left-sidebar {
    order: 0;
}

@media (min-width: 992px) {
    .content-area {
        max-width: calc(100% - 600px);
        flex: 0 0 calc(100% - 600px);
        padding: 0 35px;
    }
}
@media (max-width: 992px) {
    .left-sidebar {
        order: 2;
    }
}

@media (min-width: 1200px) {
    .container, .fixed.block-after-site, .fixed.main-navigation-inner, .fixed.related-posts, .fixed.section-block, .fixed.section-html, .fixed.site-content, .fixed.site-footer-inner, .fixed.site-header-inner, .footer-navigation.fixed, .main-navigation.fixed, .site-footer.fixed, .site-header.fixed {
        max-width: 1900px;
    }
}